<section class="section about-2 padding-0 bg-dark" id="about">
	<div class="container-fluid p-0">
		<div class="row no-gutters align-items-center">
			<div class="col-lg-6">
				<img class="img-fluid" src="images/about/about-business-man.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>Human Insight, Machine Might.</h2>
					<p>As a pioneering startup in trading technology, BlueBuck brings finance and tech-savvy professionals together to collaborate and build high-end trading solutions that execute at lightning-speeds through the power of machine learning and big data.</p>
					
					
					<div class="row">
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-circle-compass"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">We Are Creative</h4>
									<p>Our team is fueled by creativity, constantly pushing the boundaries of what’s possible in algorithmic trading</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-hotairballoon"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">We Are Passionate</h4>
									<p>We are passionate about transforming the financial landscape, driven by innovation and a commitment to excellence.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>